body {
  color: rgb(102, 255, 0);
  display: flex;
  justify-content: center;
}

.listElement {
  list-style: none;
  width: 30px;
  margin-left: 20px;
  text-align: center;
}

.secretList {
  border-bottom: 1px solid rgb(102, 255, 0);
}
.flex {
  display: flex;
  justify-content: center;
}

.show-element {
  visibility: hidden;
}

.solution-word {
  font-size: 35px;
  color: red;
  border-bottom: 8px double red;
}

.right-word {
  font-size: 35px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

header {
  display: flex;
  width: 700px;
  height: 100px;
  background-color: rgb(60, 23, 23);
  justify-content: space-between;
  align-items: center;
  color: rgb(196, 194, 194);
  border-radius: 20px 20px 0 0;
}
#new-game {
  height: 40px;
  margin-left: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgb(196, 194, 194);
}

header p {
  font-size: 25px;
  margin-right: 20px;
}
#keyboard {
  width: 700px;
  background-color: rgb(120, 120, 134);
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.keyboard-button {
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 18px;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.showroom {
  width: 700px;
  background-color: rgb(0, 0, 0);
  padding-block: 130px;
}

#result {
  position: fixed;
  width: 700px;
  font-size: 26px;
  margin-top: 30px;
  text-align: center;
}

.opa {
  opacity: 0.3;
}
